# Authentication Server Configuration
AUTH_SERVER_URL=http://localhost:9000

# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017/transactions

# Kafka Configuration
KAFKA_BROKER=127.0.0.1:9092
